/* INDEX.SASS - INDEX PAGE STYLES */

/* SPLASH */
#splash
  +bkg-img("../../assets/img/img-splash.png", center, center)
  height: 100vh
  width: 100vw
  
  .wrapper
    +flex-col
    align-items: center
    justify-content: center
    height: 100%
    
    h1
      +flex-col
      align-items: center
      justify-content: space-between
      margin: 4em 0 0 0
      text-transform: uppercase
      text-align: center
      font-size: 3.5em
    
      p
        margin: 0
        width: 100%
        text-align: center
        line-height: .9em
      
      #dbk, #review
        color: $accent
        
      #dbk
        font-size: 1.1em
        
      #years
        +flex-row
        align-items: center
        justify-content: space-between
        color: $white
        font-size: 1.4em
        
      
      #review
        font-size: 1.4em
        
    .scroll-animation
      +flex-row
      align-items: center
      justify-content: center
      margin: 10em 0 0 0
      
      span, i
        margin: 0 .125em
        color: rgba(255, 255, 255, 0.3)
        
      span
        text-transform: uppercase
        
      i
        font-size: 3em
          
    
/* TIMELINE */  
#timeline
  background-color: $gray
  padding: 2.5em 0
  
  .wrapper
    +flex-col
    justify-content: flex-start

    .month-block
      +flex-col
      justify-content: flex-start
      width: 100%
      margin-bottom: 3em
      
      .month-block-header
        +flex-row
        align-items: flex-end
        width: 100%
        margin: 0 0 .5em 0
        
        #articleDate, #numArticles
          text-transform: uppercase
          
        #articleDate
          color: $black
          font-size: 1.5em
          margin: 0 .25em 0 0
          
        #numArticles
          color: $accent
          margin: 0 0 0 .25em
        
      .articles-wrapper
        width: 100%
        -moz-column-count: 3
        -webkit-column-count: 3
        column-count: 3
        -moz-column-gap: 1.5em
        -webkit-column-gap: 1.5em
        column-gap: 1.5em
        padding: 0
        
        .article-block
          border-radius: .5em
          display: inline-block
          margin: 0 0 1em
          width: 100%
          box-sizing: border-box
          padding: 1.5em
          
             
          h3
            text-transform: capitalize
            margin: 0
            font-size: 1.1em
            
          p
            margin: .5em 0 .75em 0
            font-size: .87em
            line-height: 1.25em
              
          .btn-wrapper
            width: 100%
            
            a
              float: right
          
        .news
          background-color: $accent
          
          h3, p
            color: $white
            
        .sports, .diversions
          background-color: $white
          
          h3
            color: $black
            
          p
            color: $darkgray
          
  

        
      
      


