/* GLOBAL STYLES - COMMON.SASS */
*
  box-sizing: border-box

::-webkit-scrollbar
  display: none

html, body
  overflow-x: hidden

html
  overflow-y: overlay
  height: 100%

body
  color: $black
  
.wrapper
  width: 2480px
  max-width: 70%
  margin: 0 auto
  
h1, h2, h3, h4, h5, h6
  font-family: $font-main
  
p, a
  font-family: $font-second
  
a
  text-decoration: none
  &:hover
    font-weight: 700
    cursor: pointer